.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

body, html {
	padding: 0;
	margin: 0;
  	font-size: 100%;
  	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
	font-family: Arial,sans-serif;
	color: #fff;
	background: #f8d135;
}

a, a:visited {
	color: #888; 
	text-decoration: none;
}

a:hover, a:active {
	color: #333;
}

h1, h2, h3 {
	font-family: Arial,sans-serif;
}

h1 { 
	font-size: 2.5em; 
	font-weight: 300; 
}

h2 { 
	font-size: 1.5em; 
	font-weight: 300; 
}

h3 { 
	font-size: 1.2em; 
	font-weight: 400; 
}

/* Header */
.container .header {
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container .header span {
	display: block;
	font-size: 60%;
	opacity: 0.8;
	padding-bottom: 0.6em;
}


/* Buttons */
.menu {
	display: block;
	text-align: center;
	padding: 2em 0;
	margin-bottom: 3em;
}
.menu a {
	border: 4px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    display: inline-block;
    font-size: 1em;
    line-height: 100%;
    margin: 0 5px;
    padding: 0.7em;
    text-decoration: none;
    opacity: 0.7;
}

.menu a.active, .menu a:hover {
	opacity: 1;
}

/* Responsive */
@media screen and (max-width: 25em) {
	.nav-icon span { display: none; }
}